

{% extends 'baseapp/class_studying/base.html' %}

{% load i18n %}

{% block filename %}
  /home/murad/testing/baseapp/templates/baseapp/class_studying/class_studying_archive_week.html
{% endblock %}

{% block title %}
  {% trans "Class_Studying Week Archive" %}
{% endblock %}

{% block header-link %}
  {% trans "Class_Studying Week Archive" %}
{% endblock %}

{% block header-description %}
  {% trans "A weekly archive page showing all objects in a given week." %}
{% endblock %}

{% block content %}
  <h2>
    {% blocktrans %}
      Class_Studyings created during the week beginning on {{ week }}
    {% endblocktrans %}
  </h2>
  {% include 'baseapp/class_studying/object_table_list.html' %}
  {% include 'baseapp/class_studying/pagination.html' %}
{% endblock %}
