

{% extends 'teacher/teacher_action/base.html' %}

{% load i18n %}
{% load url from future %}

{% block filename %}
  /home/mur/testing/emis_d15/scafold/teacher/templates/teacher/teacher_action/teacher_action_archive_month.html
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "teacher_teacher_action_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "teacher_teacher_action_year_archive" year=month.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "teacher_teacher_action_month_archive" year=month.year month=month.month %}'>
        {% trans "Month Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url "teacher_teacher_action_month_archive" year=month.year month=month.month %}'>
    {% trans "Teacher_action Month Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A monthly archive page showing all objects in a given month." %}
{% endblock %}
{% block content %}
  <h2>
    By Day
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url "teacher_teacher_action_day_archive" year=date.year month=date.month day=date.day %}'>
          {{ date|date:"M. d, Y" }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% blocktrans %}
      Teacher_actions created in the month of {{ month|date:"M Y" }}
    {% endblocktrans %}
  </h2>
  {% include 'teacher/teacher_action/object_table_list.html' %}
  {% include 'teacher/teacher_action/pagination.html' %}
{% endblock %}
