

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Education_medium's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        id
      </th>
      
        <th>
          Education Medium
        </th>
      
        
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{% url "baseapp_education_medium_detail" pk=object.pk %}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.education_medium }}</td>
        
          
        
      </tr>
    {% endfor %}
  </tbody>
</table>
