

{% load i18n %}

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        {% trans "Field" %}
      </th>
      <th>
        {% trans "Value" %}
      </th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>
        School Key
      </td>
      <td>{{ object.school_key }}</td>
    </tr>
    
    <tr>
      <td>
        Village Ward
      </td>
      <td>{{ object.village_ward }}</td>
    </tr>
    
    <tr>
      <td>
        Pincode
      </td>
      <td>{{ object.pincode }}</td>
    </tr>
    
    <tr>
      <td>
        Panchayat Name
      </td>
      <td>{{ object.panchayat_name }}</td>
    </tr>
    
    <tr>
      <td>
        Municipality
      </td>
      <td>{{ object.municipality }}</td>
    </tr>
    
    <tr>
      <td>
        City
      </td>
      <td>{{ object.city }}</td>
    </tr>
    
    <tr>
      <td>
        Lowest Class
      </td>
      <td>{{ object.lowest_class }}</td>
    </tr>
    
    <tr>
      <td>
        Highest Class
      </td>
      <td>{{ object.highest_class }}</td>
    </tr>
    
    <tr>
      <td>
        Road
      </td>
      <td>{{ object.road }}</td>
    </tr>
    
    <tr>
      <td>
        Year
      </td>
      <td>{{ object.year }}</td>
    </tr>
    
    <tr>
      <td>
        Spl School
      </td>
      <td>{{ object.spl_school }}</td>
    </tr>
    
    <tr>
      <td>
        Shift School
      </td>
      <td>{{ object.shift_school }}</td>
    </tr>
    
    <tr>
      <td>
        Latitude
      </td>
      <td>{{ object.latitude }}</td>
    </tr>
    
    <tr>
      <td>
        Longitude
      </td>
      <td>{{ object.longitude }}</td>
    </tr>
    
    <tr>
      <td>
        Assembly
      </td>
      <td>{{ object.assembly }}</td>
    </tr>
    
    <tr>
      <td>
        Parliamentary
      </td>
      <td>{{ object.parliamentary }}</td>
    </tr>
    
    <tr>
      <td>
        Contact Detail
      </td>
      <td>{{ object.contact_detail }}</td>
    </tr>
    
    <tr>
      <td>
        Recognition
      </td>
      <td>{{ object.recognition }}</td>
    </tr>
    
    <tr>
      <td>
        Upgradation
      </td>
      <td>{{ object.upgradation }}</td>
    </tr>
    
    <tr>
      <td>
        Residential
      </td>
      <td>{{ object.residential }}</td>
    </tr>
    
    <tr>
      <td>
        Crc
      </td>
      <td>{{ object.crc }}</td>
    </tr>
    
    <tr>
      <td>
        Brc
      </td>
      <td>{{ object.brc }}</td>
    </tr>
    
    <tr>
      <td>
        Anganwadi
      </td>
      <td>{{ object.anganwadi }}</td>
    </tr>
    
  </tbody>
</table>
