

{% extends 'baseapp/bank/base.html' %}

{% load i18n %}

{% block filename %}
  /home/murad/testing/baseapp/templates/baseapp/bank/bank_archive_day.html
{% endblock %}
{% block title %}
  {% trans "Bank Day Archive" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "baseapp_bank_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "baseapp_bank_year_archive" year=day.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "baseapp_bank_month_archive" year=day.year month=day.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "baseapp_bank_day_archive" year=day.year month=day.month day=day.day %}'>
        {% trans "Day Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url "baseapp_bank_day_archive" year=day.year month=day.month day=day.day %}'>
    {% trans "Bank Day Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A day archive page showing all objects in a given day." {%
{% endblock %}
{% block content %}
  <h2>
    {% blocktrans %}
      Banks created on {{ day }}
    {% endblocktrans %}
  </h2>
  {% include 'baseapp/bank/object_table_list.html' %}
  {% include 'baseapp/bank/pagination.html' %}
{% endblock %}
