

{% extends 'baseapp/bank/base.html' %}

{% load i18n %}

{% block filename %}
  /home/murad/testing/baseapp/templates/baseapp/bank/bank_archive_week.html
{% endblock %}

{% block title %}
  {% trans "Bank Week Archive" %}
{% endblock %}

{% block header-link %}
  {% trans "Bank Week Archive" %}
{% endblock %}

{% block header-description %}
  {% trans "A weekly archive page showing all objects in a given week." %}
{% endblock %}

{% block content %}
  <h2>
    {% blocktrans %}
      Banks created during the week beginning on {{ week }}
    {% endblocktrans %}
  </h2>
  {% include 'baseapp/bank/object_table_list.html' %}
  {% include 'baseapp/bank/pagination.html' %}
{% endblock %}
