

{% extends 'baseapp/bank/base.html' %}

{% load i18n %}

{% block filename %}
  /home/murad/testing/baseapp/templates/baseapp/bank/bank_archive.html
{% endblock %}
{% block title %}
  {% trans "Bank Archive Index" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "baseapp_bank_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url "baseapp_bank_archive_index" %}'>
    {% trans "Bank Archive Index" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A top-level index page showing the latest objects, by date." %}
{% endblock %}
{% block content %}
  <h2>
    By Year
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url "baseapp_bank_year_archive" year=date.year %}'>
          {{ date.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% trans "Recent Banks" %}
  </h2>
  {% include 'baseapp/bank/object_table_list.html' %}
  {% include 'baseapp/bank/pagination.html' %}
{% endblock %}
