

{% extends 'baseapp/bank/base.html' %}

{% load i18n %}

{% block filename %}
  /home/murad/testing/baseapp/templates/baseapp/bank/bank_archive_year.html
{% endblock %}

{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "baseapp_bank_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "baseapp_bank_year_archive" year=year %}'>
        {% trans "Year Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block header-link %}
  <a href='{% url "baseapp_bank_year_archive" year=year %}'>
    {% trans "Bank Year Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A yearly archive page showing all available months in a given year." %}
{% endblock %}
{% block content %}
  <h2>
    {% trans "By Month" %}
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url "baseapp_bank_month_archive" year=date.year month=date.month %}'>
          {{ date|date:"M Y" }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% blocktrans %}
      Banks created in the year {{ year }}
    {% endblocktrans %}
  </h2>
  {% include 'baseapp/bank/object_table_list.html' %}
  {% include 'baseapp/bank/pagination.html' %}
{% endblock %}
