

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Academic_Year's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        id
      </th>
      
        <th>
          academic_year
        </th>
      
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{% url "baseapp_academic_year_detail" pk=object.pk %}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.academic_year }}</td>
        
         
        
      </tr>
    {% endfor %}
  </tbody>
</table>
