

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Brc's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      
        <th>
          Code
        </th>
      
        <th>
          Brc
        </th>
      
        <th>
          Block
        </th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{% url "school_brc_detail" pk=object.pk %}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.code }}</td>
        
          <td>{{ object.brc }}</td>
        
          <td>{{ object.block }}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>