

{% extends 'baseapp/zone/base.html' %}

{% load i18n %}

{% block filename %}
  /home/murad/testing/baseapp/templates/baseapp/zone/zone_archive_week.html
{% endblock %}

{% block title %}
  {% trans "Zone Week Archive" %}
{% endblock %}

{% block header-link %}
  {% trans "Zone Week Archive" %}
{% endblock %}

{% block header-description %}
  {% trans "A weekly archive page showing all objects in a given week." %}
{% endblock %}

{% block content %}
  <h2>
    {% blocktrans %}
      Zones created during the week beginning on {{ week }}
    {% endblocktrans %}
  </h2>
  {% include 'baseapp/zone/object_table_list.html' %}
  {% include 'baseapp/zone/pagination.html' %}
{% endblock %}
