{% extends 'baseapp/differently_abled/base.html' %}

{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
        <div class="col-md-8">
  <form action='{% if object %}{% url "baseapp_differently_abled_update" pk=object.pk %}{% else %}{% url "baseapp_differently_abled_create" %}{% endif %}' method='post' encoding='utf-8'>
     <fieldset>
      {% csrf_token %}      
      <div class="form-group"> <b>{% trans "Differently Abled Code" %}</b>{{ form.da_code|add_class:"form-control" }}</div><span class="error_message">{{form.da_code.errors}}</span>
      <div class="form-group"> <b>{% trans "Differently Abled Name" %}</b>{{ form.da_name|add_class:"form-control" }}</div><span class="error_message">{{form.da_name.errors}}</span>
      
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
</div>
</div>
{% endblock %}
