

{% extends 'school/crc/base.html' %}

{% load i18n %}
{% load url from future %}



{% block content %}
  <h2>
    {% trans "Delete this Crc?" %}
  </h2>
  <div class="row">
<div class="col-md-8" >
  <br />
  {% include 'school/crc/object_table_detail.html' %}
  <form action='{% url "school_crc_delete" pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
</div>
</div>
{% endblock %}
