{% extends "baseapp/master_base.html"|pjax:request %}

{% load i18n %}
{% block contentmenu %}
    
        <ul id="nav">
                  
                  <li >
                    <a  href='{% url "teacher_teacher_loan_list" %}'>
                      {% trans "Teacher loan List " %}
                    </a>
                  </li>
                  <li >
                    <a href='{% url "teacher_teacher_loan_create" %}'>
                      {% trans "Create teacher loan" %}
                    </a>
                  </li>
                  {% if object %}
                    <li >
                      <a  href='{{ object.get_absolute_url }}'>
                        {% trans "Teacher loan" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "teacher_teacher_loan_update" pk=object.pk %}'>
                        {% trans "Update teacher loan" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "teacher_teacher_loan_delete" pk=object.pk %}'>
                        {% trans "Delete" %}
                      </a>
                    </li>
                  
                  {% endif %}
                  
                </ul>
        </a>
      
   
   
{% endblock %}

