

{% extends 'teacher/teacher_loan/base.html' %}
{% load widget_tweaks %}

{% load i18n %}
{% load url from future %}



{% block content %}
<script type="text/javascript">
            $(function() {
                //Datemask dd/mm/yyyy
                $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
                //Datemask2 mm/dd/yyyy

                $("[data-mask]").inputmask();

                //Date range as a button

            });
        </script>
<div class="row">
<div class="col-md-8" >
  <form action='{% if object %}{% url "teacher_teacher_loan_update" pk=object.pk %}{% else %}{% url "teacher_teacher_loan_create" %}{% endif %}' method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
     <!--  {{ form }} -->

      <div class="form-group"> <b>{% trans "Teacher key" %}</b>{{ form.teacher_key|add_class:"form-control" }}</div><span class="error_message">{{form.teacher_key.errors}}</span>

      <div class="form-group"> <b>{% trans "Loan category" %}</b>{{ form.loan_category|add_class:"form-control" }}</div><span class="error_message">{{form.loan_category.errors}}</span>

    <div class="form-group"> <b>{% trans "Loan details" %}</b>{{ form.loan_details|add_class:"form-control" }}</div><span class="error_message">{{form.loan_details.errors}}</span>

    <div class="form-group"> <b>{% trans "Sanctioned amt" %}</b>{{ form.sanctioned_amt|add_class:"form-control" }}</div><span class="error_message">{{form.sanctioned_amt.errors}}</span>

      <div class="form-group"> <b>{% trans "Monthly installment" %}</b>{{ form.monthly_installment|add_class:"form-control" }}</div><span class="error_message">{{form.monthly_installment.errors}}</span>

    <div class="form-group"> <b>{% trans "Installments" %}</b>{{ form.installments|add_class:"form-control" }}</div><span class="error_message">{{form.installments.errors}}</span>



         <div class="form-group"> <b>{% trans "First insta date" %}</b>
      <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input class="form-control" name="first_insta_date" id="first_insta_date" type="text" data-mask="" data-inputmask="'alias': 'dd/mm/yyyy'" value="{{form.first_insta_date.value|date:"d/m/Y"  }}">
      </div></div><span class="error_message">{{form.first_insta_date.errors}}</span>

    <div class="form-group"> <b>{% trans "Sanctioned order" %}</b>{{ form.sanctioned_order|add_class:"form-control" }}</div><span class="error_message">{{form.sanctioned_order.errors}}</span>


         <div class="form-group"> <b>{% trans "Sanctioned date" %}</b>
      <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input class="form-control" name="sanctioned_date" id="sanctioned_date" type="text" data-mask="" data-inputmask="'alias': 'dd/mm/yyyy'" value="{{form.sanctioned_date.value|date:"d/m/Y"  }}">
      </div></div><span class="error_message">{{form.sanctioned_date.errors}}</span>

    <div class="form-group"> <b>{% trans "Complete flag" %}</b>{{ form.complete_flag|add_class:"form-control" }}</div><span class="error_message">{{form.complete_flag.errors}}</span>

  <div class="form-group"> <b>{% trans "Modification flag" %}</b>{{ form.modification_flag|add_class:"form-control" }}</div><span class="error_message">{{form.modification_flag.errors}}</span>

  <div class="form-group"> <b>{% trans "Verification flag" %}</b>{{ form.verification_flag|add_class:"form-control" }}</div><span class="error_message">{{form.verification_flag.errors}}</span>


  <div class="form-group"> <b>{% trans "Staff id" %}</b>{{ form.staff_id|add_class:"form-control" }}</div><span class="error_message">{{form.staff_id.errors}}</span>



      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
</div>
</div>
{% endblock %}
