{% extends "baseapp/master_base.html"|pjax:request %}

{% load i18n %}
{% block contentmenu %}
    
        <ul id="nav">
                  
                  <li >
                    <a  href='{% url "students_child_family_detail_list" %}'>
                      {% trans "Child family detail List " %}
                    </a>
                  </li>
                  <li >
                    <a href='{% url "students_child_family_detail_create" %}'>
                      {% trans "Create child family detail" %}
                    </a>
                  </li>
                  {% if object %}
                    <li >
                      <a  href='{{ object.get_absolute_url }}'>
                        {% trans "child family detail Detail" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "students_child_family_detail_update" pk=object.pk %}'>
                        {% trans "Update child family detail" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "students_child_family_detail_delete" pk=object.pk %}'>
                        {% trans "Delete" %}
                      </a>
                    </li>
                  
                  {% endif %}
                  
                </ul>
        </a>
      
   
   
{% endblock %}

