
{% extends 'students/child_family_detail/base.html' %}

{% load i18n %}

{% block content %}
<div class="row">
        <div class="col-md-8">
  <h2>
    By Year
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url "students_child_family_detail_year_archive" year=date.year %}'>
          {{ date.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% trans "Recent Child_family_details" %}
  </h2>
  {% include 'students/child_family_detail/object_table_list.html' %}
  {% include 'students/child_family_detail/pagination.html' %}
</div>
</div>
{% endblock %}
