

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual School_brc's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      
        <th>
          School Name
        </th>
      
        <th>
          Brc
        </th>
      
        <th>
          Distance brc
        </th>
      
      
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{% url "school_school_brc_detail" pk=object.pk %}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.school_key.school.school_name }}</td>
        
          <td>{{ object.brc }}</td>
        
          <td>{{ object.distance_brc }}</td>
        
        
      </tr>
    {% endfor %}
  </tbody>
</table>