{% extends "baseapp/master_base.html"|pjax:request %}

{% load i18n %}
{% block contentmenu %}
    
        <ul id="nav">
                  
                  <li >
                    <a  href='{% url "baseapp_sub_castes_list" %}'>
                      {% trans "Sub Castes List " %}
                    </a>
                  </li>
                  <li >
                    <a href='{% url "baseapp_sub_castes_create" %}'>
                      {% trans "Create Sub Castes" %}
                    </a>
                  </li>
                  {% if object %}
                    <li >
                      <a  href='{{ object.get_absolute_url }}'>
                        {% trans "Sub Castes Detail" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "baseapp_sub_castes_update" pk=object.pk %}'>
                        {% trans "Update Sub Castes" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "baseapp_sub_castes_delete" pk=object.pk %}'>
                        {% trans "Delete" %}
                      </a>
                    </li>
                  
                  {% endif %}
                  
                </ul>
        </a>
      
   
   
{% endblock %}

