{% extends 'baseapp/sub_castes/base.html' %}

{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
        <div class="col-md-8">
  <form action='{% if object %}{% url "baseapp_sub_castes_update" pk=object.pk %}{% else %}{% url "baseapp_sub_castes_create" %}{% endif %}' method='post' encoding='utf-8'>
     <fieldset>
      {% csrf_token %}
      
      <div class="form-group"> <b>{% trans "Caste Code" %}</b>{{ form.caste_code|add_class:"form-control" }}</div><span class="error_message">{{form.caste_code.errors}}</span>
      <div class="form-group"> <b>{% trans "Caste Name" %}</b>{{ form.caste_name|add_class:"form-control" }}</div><span class="error_message">{{form.caste_name.errors}}</span>
      <div class="form-group"> <b>{% trans "Community" %}</b>{{ form.community|add_class:"form-control" }}</div><span class="error_message">{{form.community.errors}}</span>
      
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
</div>
</div>
{% endblock %}
