{% extends "account/login_base.html" %}

{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>

  
  <title>Password Reset</title>
  
</head>
<body>
  <div class="main_body">
 
<div class="login_box">
      {% block content %}

<form method="POST" action="" class="password_reset">
                <center><h1 style="color:#006FA0; font-size: 17px; padding:20px; height:30px;" > Password Reset </h1>
                <p class="lead" style="color:#000000;">Enter your email address below, we'll send you an email allowing you to reset it.</p></center></br><center><p>{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong style="color:red;">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong style="color:red;">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}</p></center></br>
                        {% csrf_token %}
                      Email: <input type="text" name="email" id="email" value=""> </td>
      <button type="submit" class="btn btn-primary" >Submit</button> 

                
            </form>
  </div>
  <div style="height:180px;"></div>
 <center><p>If you have any trouble resetting your password, contact us at <a href="mailto:support-emis@tnschools.gov.in">support-emis@tnschools.gov.in</a>.</p></center>
   {% endblock %}


</div>
</body>
</html>
