{% extends "account/login_base.html" %}
{% load url from future %}
{% load i18n %}
<!DOCTYPE html>

<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>

  
  <title>Password Reset</title>
  
</head>
<body>
               
<div class="login_box" >
    {% block content %}
    <form method="POST" action="" class="password_reset" >
        <div style="width:550px;height:200px;border:1px solid blue; border-style:solid;
border-color: #006FA0;">

                <center><h1 style="color:#006FA0; font-size: 17px; padding:20px; height:30px;" > Password reset sent </h1>
<!-- {% block head_title %}{% trans "Password reset sent" %}{% endblock %}
 -->
<!--     <h1>{% trans "Password reset sent" %}</h1>
 -->    {% if not resend %}
        <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>

        <div class="row"  >
            <div class="col-md-5" >
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <br/>
                    <button type="submit" name="resend"  class="btn btn-primary">{% trans "Resend" %}</button>
<!--                     <button type="submit" class="login-button">Reset {% trans "Resend" %} </button>   
 -->            
                </form>
                </form>
            </div>
        </div>
        
    {% else %}
        <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
        </div>


</div>
</body>
</html>