{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}


{% block content_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}

    <div class="row_settings">
        <div class="col-md-5">
            <form method="POST" action="#">
                <legend>{% trans "Change password" %}</legend>
                <fieldset>
                    {% csrf_token %}

                    <div class="form-group"><b>Current Password</b> <input type="password" id="id_password_current" class="form-control" name="password_current" placeholder="Enter Current Password"><span style="color:red">{{ form.password_current.errors }}</span></div>
                    <div class="form-group"><b>New Password</b> <input type="password" id="id_password_new" name="password_new" class="form-control" placeholder="Enter New Password"><span style="color:red">{{ form.password_new.errors }}</span></div>
                    <div class="form-group"><b>New Password(again)</b><input type="password" id="id_password_new_confirm" name="password_new_confirm" class="form-control" placeholder="Enter New Password Again"><span style="color:red">{{ form.password_new_confirm.errors }}</span></div>
                    {# {{ form.as_p }} #}   
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}