

{% extends 'school/school/base.html' %}

{% load i18n %}
{% load url from future %}

     


{% block content %}
<div class="row">
<div class="col-md-8" >
  {% include 'school/school/object_table_detail.html' %}
  <form action='{% url "school_school_delete" pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      {% if user.account.user_category.user_category == 'school' %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url "school_school_update" pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
      {% endif %}
    </fieldset>
  </form>
</div>
</div>
{% endblock %}
