{% extends "baseapp/master_base.html"|pjax:request %}

{% load i18n %}
{% block contentmenu %}

    {% if request.user.account.user_category.user_category == 'school' %}
        <ul id="nav">
                  
                  <li >
                    <a  href='{% url "students_child_detail_list" %}'>
                      {% trans "Child Detail List" %}
                    </a>
                  </li>
                 

                  <li>
                    <a href='{% url "students_child_detail_create" %}'>
                      {% trans "Create Child Detail" %}
                    </a>
                  </li>

                  <li>
                    <a href='{% url "students_child_detail_pool_detail" %}'>
                      {% trans "Student Pool" %}
                    </a>
                  </li>
                  <li >
                    <a  href='{% url "students_child_detail_section_list" %}'>
                      {% trans "Section Wise List" %}
                    </a>
                  </li>

                  {% if object %}
                  {% if object.school.id == request.user.account.associated_with|add:"0" %}
                    <li >
                      <a  href='{% url "students_child_detail_update" pk=object.pk %}'>
                        {% trans "Update Child Detail" %}
                      </a>
                    </li>
                    
                   <!--  <li >
                      <a  href='{% url "students_child_detail_delete" pk=object.pk %}'>
                        {% trans "Delete" %}
                      </a>
                    </li> -->
                  {% endif %}
                  {% endif %}
                  <li><img src="{{STATIC_URL}}img/new.gif"/></li>
                  <li>
                    <a href="{{STATIC_URL}}img/Student_application_form.pdf" download > Download Student Application Form </a></li>
                </ul>
        </a>
      {% endif %}
      {% if request.user.account.user_category.user_category == 'block' %}
      <table><tr>
        <td><h4><a href='{% url "block_detail" %}'>Home</a></h4></td></tr></table>
      {% endif %}
      {% if request.user.account.user_category.user_category == 'district' %}
      <table><tr>
        <td><h4><a href='{% url "district_detail" %}'>Home</a></h4></td></tr></table>
      {% endif %}
      {% if request.user.account.user_category.user_category == 'state' %}
      <table><tr>
        <td><h4><a href='{% url "state_detail" %}'>Home</a></h4></td></tr></table>
      {% endif %}
   
   
{% endblock %}

