{% extends 'students/child_detail/base.html' %}

{% load i18n %}
{% load url from future %}
{% load widget_tweaks %}
{% load imagekit %}
{% block content %}


{% if child_detail_list %}

<p><center>{% trans "Click on the primary key value to access the individual Child_detail's page." %}</center></p>


<br>
<table width="100%" class='table table-bordered table-striped3' border="2">
  <thead>
    <tr>
      <th style="text-align:center;font-size: 15px;">S.No.</th>
      <th style="text-align:center;font-size: 15px;">Name</th>
      <th style="text-align:center;font-size: 15px;">Unique ID No.</th>
      <th style="text-align:center;font-size: 15px;">Class Studying</th>
      <th style="text-align:center;font-size: 15px;">Father's Name</th>
      <th style="text-align:center;font-size: 15px;">DOB</th>
      <th style="text-align:center;font-size: 15px;">Aadhaar No.</th>
      <th style="text-align:center;font-size: 15px;">Photo</th>
      {% if class_id == '11' %}
       <th style="text-align:center;font-size: 15px;">Group</th>
      {% endif %}
       {% if class_id == '12' %}
       <th style="text-align:center;font-size: 15px;">Group</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for detail in page_objs %}
      <tr>
        <td>{{forloop.counter0|add:page_objs.start_index}}</td>
         <td><a href='{% url "Child_detailDetailView" pk=detail.id %}'>{{ detail.name |upper }}</a></td>
          <td>{{ detail.unique_id_no }}</td>
          <td>{{ detail.class_studying |upper }}</td>
          <td>{{ detail.father_name |upper}}</td>
          <td>{{ detail.dob | date:"d-m-Y" }}</td>
          <td>{{ detail.aadhaar_uid_number }}</td>

          <td style="width:230px">
            <div >
                {% if detail.photo %}
                <img src="{{MEDIA_URL}}{{detail.photo}}" width="40" height="50">
                {%else%}
                <img src="{{STATIC_URL}}img/student.png" width="40" height="50"/>
                {%endif%}</div></td>
            {% if class_id == '11' %}
           <td>{{ detail.group_code }}</td>{% endif %}
           {% if class_id == '12' %}
           <td>{{ detail.group_code }}</td>{% endif %}
      </tr>
    {% endfor %}
    <ul class="pagination pagination-centered">
            {% if page_objs.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_objs.previous_page_number }}"><</a></li>
            {% endif %}

            {% for i in page_objs.paginator.page_range %}
                {% if page_objs.number == i %}
                {% if page_objs.has_previous %}
                    <li><a href="?page={{i|add:-1}}">{{i|add:-1}}</a></li>
                {% endif %}
                <li  class="active">

                <a href="?page={{i}}">{{i}}</a></li>
                {% if page_objs.has_next %}
                <li><a href="?page={{i|add:1}}">{{i|add:1}}</a></li>
                {% endif %}
                {% endif %}

            {% endfor %}


            {% if page_objs.has_next %}
                <li><a href="?page={{ page_objs.next_page_number }}">></a></li>
                <li><a href="?page={{ page_objs.paginator.num_pages }}">>></a></li>
            {% endif %}                                                                                                   
        </ul>
  </tbody>
</table>
{% endif %}

{% endblock %}