{% extends "baseapp/master_base.html"|pjax:request %}

{% load i18n %}
{% block contentmenu %}
    
        <ul id="nav">
                  
                  <li >
                    <a  href='{% url "baseapp_disadvantaged_group_list" %}'>
                      {% trans "Disadvantaged Group List " %}
                    </a>
                  </li>
                  <li >
                    <a href='{% url "baseapp_disadvantaged_group_create" %}'>
                      {% trans "Create Disadvantaged Group" %}
                    </a>
                  </li>
                  {% if object %}
                    <li >
                      <a  href='{{ object.get_absolute_url }}'>
                        {% trans "Disadvantaged Group Detail" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "baseapp_disadvantaged_group_update" pk=object.pk %}'>
                        {% trans "Update Disadvantaged Group" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "baseapp_disadvantaged_group_delete" pk=object.pk %}'>
                        {% trans "Delete" %}
                      </a>
                    </li>
                  
                  {% endif %}
                  
                </ul>
        </a>
      
   
   
{% endblock %}

