{% extends "baseapp/master_base.html"|pjax:request %}

{% load i18n %}
{% block contentmenu %}
    
        <ul id="nav">
                  
                  <li >
                    <a  href='{% url "baseapp_school_list" %}'>
                      {% trans "School List " %}
                    </a>
                  </li>
                  <li >
                    <a href='{% url "baseapp_school_create" %}'>
                      {% trans "Create School" %}
                    </a>
                  </li>
                  {% if object %}
                    <li >
                      <a  href='{{ object.get_absolute_url }}'>
                        {% trans "School Detail" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "baseapp_school_update" pk=object.pk %}'>
                        {% trans "Update School" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "baseapp_school_delete" pk=object.pk %}'>
                        {% trans "Delete" %}
                      </a>
                    </li>
                  
                  {% endif %}
                  
                </ul>
        </a>
      
   
   
{% endblock %}

