

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Language's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      
        <th>
          Language Code
        </th>
      
        <th>
          Language Name
        </th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{% url "baseapp_language_detail" pk=object.pk %}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.language_code }}</td>
        
          <td>{{ object.language_name }}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>
