{% extends 'baseapp/revenue_block/base.html' %}

{% load i18n %}

{% block content %}
<h2>
    {% trans "Delete this Revenue Block?" %}
  </h2>
  <div class="row">
        <div class="col-md-8">
  <br />
  {% include 'baseapp/revenue_block/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}

