

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Teacher_nomini's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      
        <th>
          Teacher key
        </th>
      
        <th>
          Fund name
        </th>
      
        <th>
          Nominee name
        </th>
      
        <th>
          Relationship
        </th>
      
        <th>
          Age
        </th>
      
        <th>
          Percentage
        </th>
      
              
        
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{% url "teacher_teacher_nomini_detail" pk=object.pk %}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.teacher_key }}</td>
        
          <td>{{ object.fund_name }}</td>
        
          <td>{{ object.nominee_name }}</td>
        
          <td>{{ object.relationship }}</td>
        
          <td>{{ object.age }}</td>
        
          <td>{{ object.percentage }}</td>
        
         
        
      </tr>
    {% endfor %}
  </tbody>
</table>
