

{% extends 'school/school_residence/base.html' %}

{% load i18n %}
{% load url from future %}

{% block filename %}
  /home/mur/testing/emis_d15/scafold/school/templates/school/school_residence/school_residence_archive_year.html
{% endblock %}

{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "school_school_residence_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "school_school_residence_year_archive" year=year.year %}'>
        {% trans "Year Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}

{% block header-link %}
  <a href='{% url "school_school_residence_year_archive" year=year.year %}'>
    {% trans "School_residence Year Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A yearly archive page showing all available months in a given year." %}
{% endblock %}
{% block content %}
  <h2>
    {% trans "By Month" %}
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url "school_school_residence_month_archive" year=date.year month=date.month %}'>
          {{ date|date:"M Y" }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% blocktrans %}
      School_residences created in the year {{ year }}
    {% endblocktrans %}
  </h2>
  {% include 'school/school_residence/object_table_list.html' %}
  {% include 'school/school_residence/pagination.html' %}
{% endblock %}
