

{% extends 'school/school_residence/base.html' %}

{% load i18n %}
{% load url from future %}

{% block filename %}
  /home/mur/testing/emis_d15/scafold/school/templates/school/school_residence/school_residence_archive_month.html
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "school_school_residence_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "school_school_residence_year_archive" year=month.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "school_school_residence_month_archive" year=month.year month=month.month %}'>
        {% trans "Month Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url "school_school_residence_month_archive" year=month.year month=month.month %}'>
    {% trans "School_residence Month Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A monthly archive page showing all objects in a given month." %}
{% endblock %}
{% block content %}
  <h2>
    By Day
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url "school_school_residence_day_archive" year=date.year month=date.month day=date.day %}'>
          {{ date|date:"M. d, Y" }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% blocktrans %}
      School_residences created in the month of {{ month|date:"M Y" }}
    {% endblocktrans %}
  </h2>
  {% include 'school/school_residence/object_table_list.html' %}
  {% include 'school/school_residence/pagination.html' %}
{% endblock %}
