

{% load i18n %}

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        {% trans "Field" %}
      </th>
      <th>
        {% trans "Value" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        id
      </td>
      <td>
        <a href='{{ object.get_absolute_url }}'>
          {{ object.id|stringformat:".3d" }}
        </a>
      </td>
    </tr>
    
    <tr>
      <td>
        Teacher Key
      </td>
      <td>{{ object.teacher_key }}</td>
    </tr>
    
    <tr>
      <td>
        Qualification
      </td>
      <td>{{ object.qualification }}</td>
    </tr>
    
    <tr>
      <td>
        Subject
      </td>
      <td>{{ object.subject }}</td>
    </tr>
    
    <tr>
      <td>
        Year
      </td>
      <td>{{ object.year }}</td>
    </tr>
    
    <tr>
      <td>
        University
      </td>
      <td>{{ object.university }}</td>
    </tr>
    
    <tr>
      <td>
        Complete Flag
      </td>
      <td>{{ object.complete_flag }}</td>
    </tr>
    
    <tr>
      <td>
        Modification Flag
      </td>
      <td>{{ object.modification_flag }}</td>
    </tr>
    
    <tr>
      <td>
        Verification Flag
      </td>
      <td>{{ object.verification_flag }}</td>
    </tr>
    
    <tr>
      <td>
        Staff Id
      </td>
      <td>{{ object.staff_id }}</td>
    </tr>
    
    <tr>
      <td>
        Timestamp
      </td>
      <td>{{ object.timestamp }}</td>
    </tr>
    
  </tbody>
</table>
