

{% extends 'students/child_transfer_history/base.html' %}

{% load i18n %}

{% block content %}
<div class="row">
        <div class="col-md-8">
  <h2>
    {% trans "By Month" %}
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url "students_child_transfer_history_month_archive" year=date.year month=date.month %}'>
          {{ date|date:"M Y" }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% blocktrans %}
      Child_Transfer_Historys created in the year {{ year }}
    {% endblocktrans %}
  </h2>
  {% include 'students/child_transfer_history/object_table_list.html' %}
  {% include 'students/child_transfer_history/pagination.html' %}

</div>
</div>
{% endblock %}
