{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Management's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      
        <th>
          Management Code
        </th>
      
        <th>
          Management Name
        </th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{% url "baseapp_management_detail" pk=object.pk %}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.management_code }}</td>
          <td>{{ object.management_name }}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>
