

{% load i18n %}

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        {% trans "Field" %}
      </th>
      <th>
        {% trans "Value" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        id
      </td>
      <td>
        <a href='{{ object.get_absolute_url }}'>
          {{ object.id|stringformat:".3d" }}
        </a>
      </td>
    </tr>
    
    <tr>
      <td>
        block_code
      </td>
      <td>{{ object.block_code }}</td>
    </tr>
    
    <tr>
      <td>
        block_name
      </td>
      <td>{{ object.block_name }}</td>
    </tr>
    
    <tr>
      <td>
        district
      </td>
      <td>{{ object.district }}</td>
    </tr>
    
  </tbody>
</table>
