

{% extends 'teacher/teacher_post/base.html' %}

{% load i18n %}

{% block filename %}
  /home/mur/testing/emis_d15/scafold/teacher/templates/teacher/teacher_post/teacher_post_archive_week.html
{% endblock %}

{% block title %}
  {% trans "Teacher_post Week Archive" %}
{% endblock %}

{% block header-link %}
  {% trans "Teacher_post Week Archive" %}
{% endblock %}

{% block header-description %}
  {% trans "A weekly archive page showing all objects in a given week." %}
{% endblock %}

{% block content %}
  <h2>
    {% blocktrans %}
      Teacher_posts created during the week beginning on {{ week }}
    {% endblocktrans %}
  </h2>
  {% include 'teacher/teacher_post/object_table_list.html' %}
  {% include 'teacher/teacher_post/pagination.html' %}
{% endblock %}
