{% extends "baseapp/master_base.html"|pjax:request %}

{% load i18n %}
{% block contentmenu %}
    
        <ul id="nav">
                  
                  <li >
                    <a  href='{% url "teacher_teacher_training_list" %}'>
                      {% trans "Teacher training List " %}
                    </a>
                  </li>
                  <li >
                    <a href='{% url "teacher_teacher_training_create" %}'>
                      {% trans "Create teacher training" %}
                    </a>
                  </li>
                  {% if object %}
                    <li >
                      <a  href='{{ object.get_absolute_url }}'>
                        {% trans "Teacher training" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "teacher_teacher_training_update" pk=object.pk %}'>
                        {% trans "Update teacher_training" %}
                      </a>
                    </li>
                    <li >
                      <a  href='{% url "teacher_teacher_training_delete" pk=object.pk %}'>
                        {% trans "Delete" %}
                      </a>
                    </li>
                  
                  {% endif %}
                  
                </ul>
        </a>
      
   
   
{% endblock %}

