

{% load i18n %}

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        {% trans "Field" %}
      </th>
      <th>
        {% trans "Value" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        id
      </td>
      <td>
        <a href='{{ object.get_absolute_url }}'>
          {{ object.id|stringformat:".3d" }}
        </a>
      </td>
    </tr>
    
    <tr>
      <td>
        teacher_key
      </td>
      <td>{{ object.teacher_key }}</td>
    </tr>
    
    <tr>
      <td>
        course
      </td>
      <td>{{ object.course }}</td>
    </tr>
    
    <tr>
      <td>
        institution
      </td>
      <td>{{ object.institution }}</td>
    </tr>
    
    <tr>
      <td>
        city
      </td>
      <td>{{ object.city }}</td>
    </tr>
    
    <tr>
      <td>
        country
      </td>
      <td>{{ object.country }}</td>
    </tr>
    
    <tr>
      <td>
        duration_from
      </td>
      <td>{{ object.duration_from }}</td>
    </tr>
    
    <tr>
      <td>
        duration_to
      </td>
      <td>{{ object.duration_to }}</td>
    </tr>
    
    <tr>
      <td>
        complete_flag
      </td>
      <td>{{ object.complete_flag }}</td>
    </tr>
    
    <tr>
      <td>
        modification_flag
      </td>
      <td>{{ object.modification_flag }}</td>
    </tr>
    
    <tr>
      <td>
        verification_flag
      </td>
      <td>{{ object.verification_flag }}</td>
    </tr>
    
    <tr>
      <td>
        staff_id
      </td>
      <td>{{ object.staff_id }}</td>
    </tr>
    
    <tr>
      <td>
        timestamp
      </td>
      <td>{{ object.timestamp }}</td>
    </tr>
    
  </tbody>
</table>
