{% extends 'block/base.html' %}
{% load i18n %}
{% block content %}


<h2><center><font color="red">AADHAAR ENTRY - STATE LEVEL REPORT</font></center></h2>


<h2><center><font color="green">Directorate  of School Education</font></center></h2>
<table border="1" cellpadding="10">
	<tr><th>Management Name</th><th>Students Enrolled</th>
		<th>Aadhaar Entered</th><th>Aadhaar Not Entered</th><tr>
		<tr><td><a href="dse_govt_view">Government</a></td><td>{{dse_emis}}</td><td>{{dse_aadhaar}}</td><td>{{dse_not_aadhaar}}</td></tr>			
	    <tr><td><a href="dse_pvt_a_view">Pvt Aided </a></td><td>{{pvt_aided_emis}}</td><td>{{pvt_aided_aadhaar}}</td><td>{{pvt_aided_not_aadhaar}}</td></tr>
		<tr><td><a href="dse_pvt_ua_view">Pvt UnAided</a> </td><td>{{pvt_unaided_emis}}</td><td>{{pvt_unaided_aadhaar}}</td><td>{{pvt_unaided_not_aadhaar}}</td></tr>
		<tr><td><a href="cbse_icse_view">CBSE/ICSE</a> </td><td>{{cbse_emis}}</td><td>{{cbse_aadhaar}}</td><td>{{cbse_not_aadhaar}}</td></tr>
		
</table>

<h2><center><font color="green">Directorate  of Elementary Education</font></center></h2>
<table border="1" cellpadding="10">
	<tr><th>Management Name</th><th>Students Enrolled</th>
		<th>Aadhaar Entered</th><th>Aadhaar Not Entered</th><tr>
		<tr><td><a href="dee_govt_view">Government</a></td><td>{{dee_emis}}</td><td>{{dee_aadhaar}}</td><td>{{dee_not_aadhaar}}</td></tr>		
		<tr><td><a href="dee_pvt_aid_view">Pvt Aided </a></td><td>{{dee_p_a_emis}}</td><td>{{dee_p_a_aadhaar}}</td><td>{{dee_p_a_not_aadhaar}}</td></tr>
		<tr><td><a href="dee_pvt_unaid_view">Nursery Primary </a></td><td>{{dee_n_emis}}</td><td>{{dee_n_aadhaar}}</td><td>{{dee_n_not_aadhaar}}</td></tr>		
		
</table>

<h2><center><font color="green">Directorate  of Matriculation</font></center></h2>
<table border="1" cellpadding="10">
<tr><th>Management Name</th><th>Students Enrolled</th>
		<th>Aadhaar Entered</th><th>Aadhaar Not Entered</th><tr>
	<tr><td><a href="matric_view">Matriculation</a> </td><td>{{matric_emis}}</td><td>{{matric_aadhaar}}</td><td>{{matric_not_aadhaar}}</td></tr>
</table>


{% endblock %}

